@using ModelAccessLayer.ViewModels;
@model ForgotPasswordModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "ForgotPassword";

}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 p-2">
<form method="post" asp-action="ForgotPassword" asp-controller="Account">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px"> Create An Account</h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="mb-3">
        <label class="mb-2" asp-for="Password"></label><span class="text-danger">*</span>
        <input type="password" class="form-control" asp-for="Password" autocomplete="Password" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2" asp-for="ConfirmPassword"></label><span class="text-danger">*</span>
        <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="ConfirmPassword" placeholder="Enter ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    
    <div class="float-end">
        <button type="submit" class=" btn btn-primary m-2">Submit</button>
    </div>
</form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
