@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ModelAccessLayer.ViewModels;
@model LoginModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";

}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 p-2">
<form method="post" asp-action="Login" asp-controller="Account">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px"> Login Into Your  Account</h3>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label class="mb-2" asp-for="Email"></label><span class="text-danger">*</span>
        <input type="email" class="form-control" asp-for="Email" autocomplete="Email" placeholder="Enter Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="mb-2" asp-for="Password"></label><span class="text-danger">*</span>
        <input type="password" class="form-control" asp-for="Password" autocomplete="Password" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="float-end">
        <button type="submit" class=" btn btn-primary m-2">Log In</button>
    </div>
</form>
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CheckEmailForgotPassword">Forgot Password</a>
</div>
<div class="col-md-4">
</div>
    </div>
</div>