@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ModelAccessLayer.ViewModels;
@model LoginModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";

}

<link href="~/css/styleforloginuser.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
<div class="wrapper" >
	<div class="inner">
		<form method="post" asp-action="Login" asp-controller="Account">
			<h3>LogIn Form</h3>
			
			<div class="form-wrapper">
				<label for="" asp-for="Email">Email</label>
				<input type="email" asp-for="Email" class="form-control">
			</div>
			<div class="form-wrapper">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
					<span class="checkmark"></span>
				</label>
			</div>
            
			<button type="submit">LogIn</button>
			<button><a asp-area="" asp-controller="Account" asp-action="CheckEmailForgotPassword"></a>Forgot Password</button>
		</form>
       
	</div>
</div>