@using ModelAccessLayer.ViewModels
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<link href="~/css/styleforloginuser.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="wrapper">
    <div class="inner">
        <form id="LoginForm">
            <h3>LogIn Form</h3>

            <div class="form-wrapper">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control" name="Email">
            </div>
            <div class="form-wrapper">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" name="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="RememberMe"> Remember Me
                    <span class="checkmark"></span>
                </label>
            </div>
            <button type="submit">LogIn</button>
            <button type="button" id="forgotPasswordButton">Forgot Password</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#LoginForm').on('submit', function (event) {
            event.preventDefault();

            var formData = {
                Email: $("input[name='Email']").val(),
                Password: $("input[name='Password']").val(),
                RememberMe: $("input[name='RememberMe']").is(':checked')
            };

            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (result) {
                    if (result) {
                        window.location.href = '@Url.Action("ProductListUser", "Product")';
                    } else {
                        alert("Login failed. Please try again.");
                    }
                }
            });
        });

        $('#forgotPasswordButton').on('click', function () {
            window.location.href = '@Url.Action("CheckEmailForgotPassword", "Account")';
        });
    });
</script>
