@using ModelAccessLayer.ViewModels;
@model RegistrationModel;
@{
}
@{
    ViewData["Title"] = "RegitrationAdmin";

}
<link href="~/css/styleforloginuser.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="wrapper">
    <div class="innerTwo">

        <form method="post" asp-action="RegistrationAdmin" asp-controller="Account" id="RegistrationAdminForm">
            <h3>Admin Registration Form</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName" name="FirstName">
                </div>
                <div class="form-wrapper">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName" name="LastName">
                </div>
            </div>
            <div class="form-wrapper">
                <label asp-for="UserName">Username</label>
                <input type="text" class="form-control" asp-for="UserName" name="UserName">
            </div>
            <div class="form-wrapper">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email" name="Email">
            </div>
            <div class="form-wrapper">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" asp-for="PhoneNumber" name="PhoneNumber">
            </div>

            <div class="form-wrapper">
                <label asp-for="Password">Password</label>
                <input type="password" class="form-control" asp-for="Password" name="Password">
            </div>
            <div class="form-wrapper">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" name="ConfirmPassword">
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label asp-for="DOB">DOB</label>
                    <input type="password" class="form-control" asp-for="DOB" name="DOB">
                </div>
                <div class="form-wrapper">
                    <label asp-for="Gender">Gender</label>
                    <input type="password" class="form-control" asp-for="Gender"name="Gender">
                </div>
            </div>
            <button type="submit">Register Now</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#registrationAdminForm').on('submit', function(event) {
            event.preventDefault();

            var formData = {
                Firstname: $("input[name='Firstname']").val(),
                Lastname: $("input[name='Lastname']").val(),
                Username: $("input[name='Username']").val(),
                Password: $("input[name='Password']").val(),
                Email: $("input[name='Email']").val(),
                PhoneNumber: $("input[name='PhoneNumber']").val(),
                DOB: $("input[name='DOB']").val(),
                Gender: $("input[name='Gender']").val()
            };

            $.ajax({
                url: '@Url.Action("RegistrationAdmin", "Account")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(result) {
                    if (result) {
                        window.location.href = '@Url.Action("LoginAdmin", "Account")';
                    } else {
                        alert("Registration failed. Please try again.");
                    }
                }
            });
        });
    });
</script>