@using ModelAccessLayer.ViewModels;
@model RegistrationModel;
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Regitration";

}



<link href="~/css/styleforloginuser.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.css" rel="stylesheet" />
<link href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
<div class="wrapper" >
    <div class="innerTwo" >
        
        <form method="post" asp-action="Registration" asp-controller="Account">
            <h3>Registration Form</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" class="form-control" asp-for="FirstName">
                </div>
                <div class="form-wrapper">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" class="form-control" asp-for="LastName">
                </div>
            </div>
            <div class="form-wrapper">
                <label asp-for="UserName">Username</label>
                <input type="text" class="form-control" asp-for="UserName">
            </div>
            <div class="form-wrapper">
                <label asp-for="Email">Email</label>
                <input type="text" class="form-control" asp-for="Email">
            </div>
            <div class="form-wrapper">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input type="text" class="form-control" asp-for="PhoneNumber">
            </div>

            <div class="form-wrapper">
                <label asp-for="Password">Password</label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="form-wrapper">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword">
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label asp-for="DOB">DOB</label>
                    <input type="password" class="form-control" asp-for="DOB">
                </div>
                <div class="form-wrapper">
                    <label asp-for="Gender">Gender</label>
                    <input type="password" class="form-control" asp-for="Gender">
                </div>
            </div>
            <button type="submit" >Register Now</button>
        </form>
    </div>
</div>
